<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="es" th:fragment="head">
		<meta charset="ISO-8859-1">
		<meta name="description" content="SIGIE: Sistema Gestor de Inform&aacute;tica Empresarial en la Sede del Atlántico de la UCR" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

		<!-- archivos online -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		
  		<!-- archivos locales -->
  		<link href="/css/style.css" rel="stylesheet" media="screen" />
  		<script th:inline="javascript" type="text/javascript" src="/js/functions.js"></script>
  		
		<!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjY6bb7os43WpETqE-dSKsGkLF1wTzqYk"></script>
	</head>
</html>