<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Carrera</title>
<th:block th:include="/fragments/head :: head"></th:block>
</head>
<body>
	<th:block
		th:include="/fragments/administration/headerSubmenuAdmin :: headerSubmenuAdmin"></th:block>
	<section class="main container">
		<div class="row">
			<div id="content">
				<section class="posts col-md-9">
					<article class="post clearflix">
						<h2 class="titulos text-center" th:text="${title}"></h2>
						<div class="text-right">
							<a role="button" class="btn btn-primary" data-target="#modal"
								data-toggle="modal"> <span class="glyphicon glyphicon-edit"></span>
								Editar informaci&oacute;n
							</a>
						</div>
						<br>
						<div class="alert alert-success text-center" th:if="${alert} == 'sucess'" id="alert">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Informaci&oacute;n actualizada con &eacute;xito.</strong>
						</div>
						<div class="alert alert-warning text-center" th:if="${alert} == 'error'">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Ha ocurrido un error intentelo m&aacute;s tarde!</strong>
						</div>
						<div class="col-sm-12 text-justify" th:text="${information}"></div>
						<div class="modal fade" id="modal" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header alert alert-info">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">
											<strong>Descripci&oacute;n &Aacute;rea</strong>
										</h4>
									</div>
									<form th:action="@{/saveAreaDescription/{area}(area=${area})}" method="post"
										class="form-horizontal">
										<div class="modal-body">
											<textarea class="form-control" id="description" name="description" th:text="${information}"
												rows="5" required></textarea>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">Actualizar</button>
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</article>
				</section>
			</div>
			<aside class="col-md-3">
				<div class="list-group">
					<th:block th:if="${area} == 'investigation'" th:include="/fragments/investigationSubmenu :: investigationSubmenu"></th:block>
					<th:block th:unless="${area} == 'investigation'" th:include="/fragments/socialActionSubmenu :: socialActionSubmenu"></th:block>
				</div>
			</aside>
		</div>
	</section>
	<th:block th:include="/fragments/footer :: footer"></th:block>
</body>
</html>